.fonte {
  font-family: "Bangers", system-ui;
  font-style: normal;
}




.bg-home{
    background-image: url(imagens/bg.png);
}

.borda-inferior{
    border-bottom: 2px solid gray
}

.bg-bebidas{
    width: 8rem;
    height: 11rem;
}

.bg-bebidas > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.teste{
    position: relative;
}

.teste{
    position: absolute;
    height: 100dvh;
    width: 20rem;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 10;
}


.borda1{
    border: 1px solid pink;
}

.borda2{
    border: 1px solid red;
}

.borda3{
    border: 1px solid blue;
}
